# Dependencies
node_modules/

# Environment
.env

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Future reports
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json